@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap");

:root {
  --main-bg-color: #0d0d0d;
  --text-color: #f2e7dc;
  --highlight-color: yellow;
  --font-family: "Livvic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--main-bg-color);
  padding: 2rem 10rem;
  color: var(--text-color);
  font-family: var(--font-family);
}

#luz {
  position: fixed;
  top: -2%;
  left: -7%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
}
main{ 
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:2rem;
  margin:0 auto;
}

img {
  width: 17%;
  margin:0;
}
#foto_perfil{
  border-radius:5rem;
  box-shadow:2px 2px 20px #008F8C;
  margin:auto;
}
h2 {
  font-size: 1.5rem;
  font-family: var(--font-family);
  margin:auto;
  margin-left:23rem;
}
h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #ffffff;
}
p {
  font-size: 1.2rem;
  color: #a9d9d0;
  width:50%;
}
nav{
  display:flex;
  flex-direction:row;
  width:50%;
}
ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
li {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.2rem;
  width: 9rem;
  border-radius: 2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  height:2rem
}
a {
  text-decoration: none;
  align-items: center;
  background-color: transparent;
  border-radius: 2rem;
  height:2rem;
}
.home{
  background-color: #005C53;
  color: #ffffff;
}
.quemsomos {
  background-color: #027373;
  color: #ffffff;
}

.portifolio {
  background-color: #038c7f;
  color: #ffffff;
}

.instagram {
  background-color: #a9d9d0;
  color: #0d0d0d;
}

.whatsapp {
  background-color: #f2e7dc;
  color: #0d0d0d;
}

li:hover {
  background-color: var(--highlight-color);
  color: #181414;
}

@media screen and (max-width: 615px) {
  #luz {
    top: -25%;
    left: -1%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  header {
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom:4rem;
  }

  h2 {
    font-size: 1.3rem;
    margin-left: 0;
  }

  img {
    width: 9rem;
    margin-left: 0;
  }

   p{
    width:100%;
  }
  
  
}


@media screen and (min-width: 616px) and (max-width: 1290px) {
  
  li {
    line-height: 38px;
  }

  .quemsomos,
  .portifolio,
  .instagram,
  .whatsapp {
    font-size: 1rem;
    height: 2.5rem;
  }
}
