@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap");

:root {
  --main-bg-color: #0d0d0d;
  --text-color: #f2e7dc;
  --highlight-color: yellow;
  --font-family: "Livvic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--main-bg-color);
  padding: 2rem 10rem;
  color: var(--text-color);
  font-family: var(--font-family);
}

#luz {
  position: fixed;
  top: -2%;
  left: -7%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2% auto;
  
}
header {
  display: flex;
  flex-direction: row;
  
 }
section{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:70%;
 margin-top:5rem;
}
#alinhamento-main{
  display:flex;
  flex-direction:column;
}

img {
  width: 30%;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--font-family);
  margin:auto; 
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}

p {
  font-size: 1.5rem;
  color: #a9d9d0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

li {
  line-height: 48px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.4rem;
  width: 11rem;
  height: 3rem;
  border-radius: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  align-items: center;
  background-color: transparent;
  border-radius: 2rem;
}

.quemsomos {
  background-color: #027373;
  color: #ffffff;
}

.portifolio {
  background-color: #038c7f;
  color: #ffffff;
}

.instagram {
  background-color: #a9d9d0;
  color: #0d0d0d;
}

.whatsapp {
  background-color: #f2e7dc;
  color: #0d0d0d;
}

li:hover {
  background-color: var(--highlight-color);
  color: #181414;
}

@media screen and (max-width: 615px) {
  body{
    width:100hv;
 
  }
  #luz {
    top: -25%;
    left: -1%;
    width: 100%;
    height: 100%;
    z-index: -1;  
  }

  header {
    flex-direction: column;
  }

  h2 {
    font-size: 1.1rem;
    margin:auto;
    width:100%;
  }

  img {
    width: 11rem;
    margin:auto;
  
  }

  main {
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
    margin:auto;
    
  }

  p {
    font-size: 1.4rem;
    margin:auto;
  }

  nav {
    margin-left: 0.7rem;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 616px) and (max-width: 1280px) {
 
  section{
    
    padding:0;
    margin:0;
    gap:2rem;
    flex-direction:column;
    align-items:center;
  }
  img{
    width:20%;
  }
  h2{
    font-size:1.2rem;
  }
  h1{
    font-size:4rem;
  }
  
  ul{
    flex-direction:row;
    font-size:1rem;
  }
  
  li {
    line-height: 38px;
  width:8rem;    
  }

  .quemsomos,
  .portifolio,
  .instagram,
  .whatsapp {
    font-size: 1rem;
    height: 2.5rem;
  }
}
